settings.json
accounts.json

.idea/
__pycache__/
*.pyc
venv/
.venv/

boards/
generated/
generated_gemini/
generated_videos/
generated_pika/
pins_hd/

*.jpg
*.jpeg
*.png
*.webp
*.mp4
*.gif

proxy_auth_plugin.zip
sa.json
bot_state.json
